*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0 2px;
}

/* global section-style END */
html {
  font-family: 'Inter', sans-serif;
}

/* root theme attributes */
:root {
  --title-color: #172b4d;
  --section-title-color: #172b4d;
  --green-color: #36b37e;
  --icons-color: #505f79;
  --grey-tag-color: #ebf0ee;
  --white-color: #fff;
  --card-border-color: #ddd;
  --works-text-color: #3a4a42;
  --content-text-color: #42526e;
  --about-card-title-text: #344563;
  --form-border-color: #d0d9d4;
}

/* Mobile Responsive */

/* toolbar styles */
.toolbar {
  left: 0;
  height: 50px;
  width: 100%;
  color: #fff;
  top: 44px;
  bottom: 0;
}

/* Header Styles */

#header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  background-size: cover;
  position: relative;
  top: 5px;
}

.header {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./assets/images/header-illustration-mobile.svg) top/cover no-repeat;
  width: 100%;
  padding-top: 5px;
  background-size: 100%;
  background-position: center;
}

.header-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 2rem;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 20px;
  margin-top: 80px;
}

.header-title h1 {
  margin-bottom: 2rem;
}

.header-title p span {
  color: var(--green-color);
  display: block;
  font-size: 40px;
}

.header-title h1 span {
  display: block;
}

.supporting-text {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
  color: var(--title-color);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5rem;
}

.chevron-icon {
  text-align: center;
  margin-top: 20px;
}

.hamburger {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 1;
  color: black;
}

/* Section Styles */
.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: var(--title-color);
}

.section-title-container {
  text-align: center;
}

.title-container h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.title-container {
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  list-style: none;
  align-items: center;
}

.social-icons li {
  margin: 1 10px;
}

.social-icons li img {
  width: 30px;
}

/* Media Queries */

/* Mobile First */
@media only screen and (min-width: 375px) {
  .header {
    background: url(/assets/images/header-illustration-mobile.svg) top/cover no-repeat;
    background-position: absolute;
  }
}

/* Desktop */
@media only screen and (min-width: 768px) {
  .header {
    background: url(/assets/images/header-illustration-desktop.svg) top/cover no-repeat;
    background-position: absolute;
  }
}
