*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding: 0 2px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
}

/* Mobile Styles */
@media screen and (max-width: 767px) {
  .container {
    max-width: 90%;
    margin: auto;
  }

  /* header|intro section */
  .header {
    height: 100vh;
    background: url(/assets/images/header-illustration-mobile.svg) top/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .header-title {
    font-size: 28px;
    line-height: 36px;
    text-align: center;
  }

  .header-sub-title {
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    margin-top: 10px;
  }

  .supporting-text {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin-top: 30px;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    list-style: none;
    padding: 0;
  }

  .social-icons li {
    margin-right: 10px;
  }

  .social-icons li:last-child {
    margin-right: 0;
  }

  .chevron-icon {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 8px;
    position: absolute;
    left: calc(50% - 40px / 2 + 0.5px);
    bottom: 20px;
  }

  .hamburger {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .nav-bar {
    display: flex;
    justify-content: flex-end;
  }

  .menu {
    display: none;
  }

  /* Works section */
  .recent-work {
    padding: 60px 0;
  }

  .recent-work h1 {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 30px;
    text-align: center;
  }

  .section-indicator {
    bottom: -6px;
    width: 32px;
    height: 6px;
    border-radius: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .card-grid {
    grid-template-areas:
      "card-img"
      "card-title"
      "tags"
      "button";
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 100%;
    height: auto;
  }

  .card-content {
    text-align: center;
  }

  .card-title {
    font-size: 24px;
    line-height: 32px;
    margin-top: 20px;
  }

  .tags {
    margin-top: 20px;
    text-align: center;
  }

  .works {
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .project-btn {
    margin-top: 20px;
    width: 100%;
  }

  .recent-work .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .recent-work .my-card {
    margin: 20px;
  }

  /* About me section */
  .aboutme-title h1 {
    font-size: 2.5rem;
  }

  .resume {
    margin-top: 3rem;
    text-align: center;
  }

  .resume .supporting-text {
    font-size: 1.2rem;
  }

  .resume .project-btn {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
  }

  .about-card {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .about-card .icon-container img {
    width: 3rem;
  }

  .about-card .card-title {
    font-size: 1.5rem;
  }

  .about-card .tags {
    margin-top: 1.5rem;
    font-size: 1.1rem;
  }

  .about-card .tags span.about {
    padding: 0.5rem 0.8rem;
    margin-right: 0.5rem;
  }

  /* contact section */
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-image {
    display: none;
  }
}

/* Desktop Styles */
@media screen and (min-width: 768px) {
  .container {
    max-width: 90%;
    margin: auto;
  }

  /* intro/header section */
  .header {
    height: 100vh;
    background: url(/assets/images/header-illustration-desktop.svg) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
  }

  .header-title {
    font-size: 50px;
    line-height: 60px;
    text-align: center;
  }

  .header-sub-title {
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    margin-top: 20px;
  }

  .supporting-text {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin-top: 20px;
    max-width: 600px;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    list-style: none;
    padding: 0;
  }

  .social-icons li {
    margin-right: 10px;
  }

  .menu li {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
  }

  .social-icons li:last-child {
    margin-right: 0;
  }

  .chevron-icon {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .nav-bar {
    display: flex;
    justify-content: flex-end;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
  }

  .menu li:first-child {
    margin-left: 0;
  }

  .menu li:hover {
    color: #b3b3b3;
  }

  /* works section */

  /* Recent Work section */
  .recent-work {
    padding: 100px 0;
    background-color: #f9f9f9;
  }

  .recent-work h1 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 50px;
    text-align: center;
  }

  .section-indicator {
    bottom: -10px;
    width: 40px;
    height: 10px;
    border-radius: 20px;
    background-color: #333;
    margin: 0 auto;
    display: block;
  }

  .works-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 350px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex: 1 1 300px;
    max-width: 400px;
  }

  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }

  .card-img {
    height: 200px;
    background-image: url('https://via.placeholder.com/350x200');
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
  }

  /* about me section */
  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;
    background-color: #f9f9f9;
  }

  .aboutme-title-container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .aboutme-title h1 {
    margin: 0;
    font-size: 4rem;
  }

  .resume {
    max-width: 600px;
  }

  .about-card {
    flex-basis: calc(33.333% - 16px);
    margin-right: 24px;
  }

  .about-card:last-child {
    margin-right: 0;
  }

  /* contact me section */
  .contact-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-size: 50%;
    background-position: center right;
    padding: 50px 0;
  }

  .contact-form {
    margin-top: 0;
    margin-left: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-image {
    width: 35%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
  }

  input[type="submit"] {
    width: 200px;
    margin-top: 0;
  }
}

/* Header section */
.header-content {
  position: relative;
  width: 100%;
  max-width: 600px;
  text-align: center;
  z-index: 1;
  align-items: center;
  margin: auto;
}

.toolbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  color: #3a4a42;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 5%;
  font-size: 8vw;
  font-weight: 600;
  line-height: 14vw;
}

.menu li {
  display: block;
  margin: 5% 0;
  list-style: none;
}

.hamburger {
  cursor: pointer;
  font-size: 8vw;
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 9999;
}

.menu li a {
  padding: 5%;
  display: block;
  font-weight: bold;
  text-decoration: none;
}

/* Show menu items on hover */
.toolbar-menu:hover .nav-bar {
  display: block;
}

.nav-bar ul {
  list-style: none;
  padding-left: 0;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.chevron-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 8px;
  position: absolute;
  left: calc(50% - 40px / 2 + 0.5px);
}

.social-icons {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
}

.menu li:first-child {
  margin-top: 0;
}

.nav-bar li a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 10px;
  font-weight: bold;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li a:hover {
  background-color: #70c572;
  color: #fff;
  text-decoration: none;
}

/* toolbar  Styles */
.toolbar {
  background-color: white-background-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.title {
  color: #172b4d;
}

.header-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  align-items: center;
  margin-top: -40px;
}

.header-sub-title {
  color: #70c572;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.supporting-text {
  text-align: center;
  line-height: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #172b4d;
  margin-top: 3px;
  margin-bottom: 8px;
}

/* .github-icon */
.fab.fa-github {
  color: social-icon-color;
}

/* .linkedin-icon */
.fab.fa-linkedin-in {
  color: social-icon-color;
}

/* .angellist-icon */
.fab .fa-angellist {
  color: social-icon-color;
}

/* .linkedin-icon */
.fab.fa-twitter {
  color: social-social-icon-color;
}

/* .medium-icon */
.fab.fa-medium {
  color: social-icon-color;
}

/* .spacer */
.spacer {
  display: inline-block;
  width: 20px;
}

/* Recent Works section */

.recent-work {
  background-color: white-background-color;
  padding: 80px 0;
  position: relative;
}

.about-me {
  position: relative;
  top: 50px;
}

.recent-work-container {
  width: 100%;
  max-width: 600px;
  text-align: center;
  z-index: 1;
  align-items: center;
  margin: auto;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.recent-work h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  align-items: center;
  margin-bottom: 40px;
  color: headline-color;
}

.title-container {
  position: relative;
}

.section-indicator {
  display: inline-block;
  width: 48px;
  height: 8px;
  background-color: #36b37e;
  border-radius: 24px;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.card-grid {
  display: grid;
  grid-template-areas:
    "card-img card-img card-img"
    "card-title card-title card-title"
    "tags tags tags"
    "button button button";
  grid-template-rows: 8px 1fr 7px;
  grid-template-columns: 20% 1fr 15%;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  height: 30vh;
  margin: 0;
}

/* Card styling */
.card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  padding: 4px 2px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1px solid #ccc;
}

.card .card-img {
  grid-column: 1 / 4;
  background-image: url('./assets/images/img-placeholder.png');
  background-size: cover;
  background-position: center;
  height: 200px;
  object-fit: cover;
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  transition: transform 0.3s ease-out;
  align-items: center;
  text-align: center;
}

.card-title {
  color: #3a4a42;
  width: 100%;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .overlay h3 {
  word-wrap: break-word;
}

/* .tags{ */

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-left: 0;
}

.tags span.works {
  background-color: #c6c6c6;
  border-radius: 6px;
  padding: 4px 8px;
  margin-right: 5px;
  color: black;
}

.tags span.about {
  background-color: #fff;
  border-radius: 6px;
  padding: 4px 8px;
  margin-right: 5px;
  color: #36b37e;
}

.tags span:first-child {
  margin-left: 0;
}

.tags span:last-child {
  margin-right: 0;
}

.project-btn {
  position: relative;
  background-color: #36b37f;
  color: #fff;
  padding: 8px 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 11px;
  bottom: 8px;
  width: 122px;
  height: 48px;
  align-items: center;
  display: block;
  margin: 0 auto;
}

/* about me  */

.about-me .project-btn::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -150px;
  width: 50px;
  height: 50px;
  background-image: url('./assets/images/about-bg-left.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.header-content h1:nth-of-type(2) {
  color: #70c572;
}

/* about me */
.aboutme-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  text-align: center;
  z-index: 1;
  align-items: center;
  margin: auto;
  padding: 0 18px;
  margin-bottom: 50px;
}

.card-img-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  transition: transform 0.3s ease-out;
  align-items: center;
  text-align: center;
}

/* About card */
.about-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/images/img-placeholder.png");
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 400px;
  border-radius: 10px;
  margin-top: 20px;
}

.aboutme-title {
  background-image: url(./assets/images/about-bg-right.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 20%;
  z-index: 2;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* contact me */
.contact-container {
  width: 100%;
  max-width: 600px;
  text-align: center;
  z-index: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(/assets/images/form-bg.svg) no-repeat;
  background-size: 20%;
  background-position: bottom right;
}

.contact-form {
  margin-top: 30px;
  width: 80%;
  display: flex;
  flex-direction: column;
  left: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  color: #ccc;
}

input[type="submit"] {
  background-color: #36b37f;
  color: #fff;
  padding: 8px 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 11px;
  width: 122px;
  height: 48px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  display: block;
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  box-sizing: border-box;
}

form textarea {
  height: 120px;
}

form input[type="submit"] {
  display: block;
  margin: auto;
}
