/* Mobile  Styles */

/* Desktop  Styles */

/* Header  Styles */
.header {
    background-color: #ffffff;
    top: 0;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
}
/* Nav  Styles */

/* Content  Styles */