
*,
*::before,
*::after {
  box-sizing: inherit;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/* color classes */
.nav-bar-color {
  color: #3a4a42;
}

.social-icon-color {
  color: #505f79;
}

.white-background-color {
  color: #fff;
}

.headline-color {
  color: #172b4d;
}

.header-color {
  color: #70c572;
}

/* Mobile Styles */
@media screen and (min-width: 368px) {
  .header {
    background-image: url(./assets/images/Header-llustration-desktop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: absolute;
    top: 92.8px;
  }

  .header-content {
    position: relative;
    width: 100%;
    max-width: 600px;
    text-align: center;
    z-index: 1;
    align-items: center;
  }

  .toolbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #3a4a42;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5%;
    font-size: 8vw;
    font-weight: 600;
    line-height: 14vw;
  }

  .menu li {
    display: block;
    margin: 5% 0;
    list-style: none;
  }

  .hamburger {
    cursor: pointer;
    font-size: 10vw;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999;
  }

  .menu li a {
    padding: 5%;
    display: block;
    font-weight: bold;
    text-decoration: none;
  }

  /* Show menu items on hover */
  .toolbar-menu:hover .nav-bar {
    display: block;
  }

  .nav-bar ul {
    list-style: none;
    padding-left: 0;
  }

  /* .nav-bar::after {
    content: "\f00d";
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-weight: 900;
    font-size: 10vw;
    position: absolute;
    bottom: -20px;
    right: 10%;
    cursor: pointer;
    z-index: 2;
  } */

  .social-icons li {
    margin-right: 10px;
  }

  .social-icons li:last-child {
    margin-right: 0;
  }

  .chevron-icon {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 8px;
    position: absolute;
    left: calc(50% - 40px / 2 + 0.5px);
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
  }

  .menu li:first-child {
    margin-top: 0;
  }

  .nav-bar li a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-weight: bold;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu li a:hover {
    background-color: #70c572;
    color: #fff;
    text-decoration: none;
  }

  /* toolbar  Styles */
  .toolbar {
    background-color: white-background-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .title {
    color: headline-color;
  }

  .header-titles {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: center;
    align-items: center;
  }

  .supporting-text {
    text-align: center;
    line-height: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #172b4d;
  }

  .header-content h1:nth-of-type(2) {
    color: #70c572;
  }

  .header-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }

  /* .github-icon */
  .fab.fa-github {
    color: social-icon-color;
  }

  /* .linkedin-icon */
  .fab.fa-linkedin-in {
    color: social-icon-color;
  }

  /* .angellist-icon */
  .fab .fa-angellist {
    color: social-icon-color;
  }

  /* .linkedin-icon */
  .fab.fa-twitter {
    color: social-social-icon-color;
  }

  /* .medium-icon */
  .fab.fa-medium {
    color: social-icon-color;
  }

  /* .spacer */
  .spacer {
    display: inline-block;
    width: 20px;
  }
}
