body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Mobile  Styles */
@media screen and (max-width: 767px) {
    .menu {
        display: block;
        text-align: center;
    }

    .menu li {
        display: block;
        margin: 0;
    }

    .menu li:first-child {
        margin-top: 20px;
    }

    .menu li a {
        padding: 10px 0;
    }
}

/* Desktop  Styles */
@media screen and (min-width: 768px) {
    .menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .menu li {
        display: inline-block;
        margin: 0 20px 0 0;
    }

    .menu li:first-child {
        margin-left: 0;
    }

    .menu li a {
        padding: 10px;
    }
}
/* Header  Styles */
.header {
    background-color: #ffffff;
    top: 0;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Headline  Style */

.headline {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    left: 0;
    top: 50px;
    background-color: #ffffff;
    color: #000;
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    padding: 40px;
}

.headline:nth-of-type(2) {
    color: #36B37E;
    font-weight: bold;
}

/* Headline  paragraph */
.headline h3 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}
.headline h4 {
    font-size: 32px;
    font-weight: bold;
    color: #36B37E;
    margin-bottom: 20px;
}

 .headline-content{
    width: 920px;
    height: 96px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #172B4D;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px auto 0;
 }

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-left: 20px;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-weight: bold;
}

.menu li a:hover {
    background-color: #ccc;
    color: #fff;
    
}

/* Nav  Styles */

/* Content  Styles */